
<div class="row">
  <img src="./assets/img/left-arrow.png" class="back-arrow mt-3"style="
  cursor: pointer;
  background-color: #d9117d;
  border-radius: 21px;
  /* float: right; */
  margin-left: 2%;" routerLink="/users"  >

</div>

  <div class="col-md-2 col-lg-2 col-sm-6 col-6" style="float: right;" *ngIf="!hostName">
    <button type="submit" class="btn-grpchat mb-3" (click)="blockUser()" *ngIf="blocked_user == 'false'" >
      <span>Block</span>
    </button>

    <button type="submit" class="btn-grpchat mb-3" (click)="UnblockUser()" *ngIf="blocked_user == 'true'" >
      <span>UnBlock</span>
    </button>
  </div>
<div class="" style="background-color: black">
  <div class="row">
    <div class="col-lg-5 col-md-2 col-12" style="display: flex">
      <div>
        <img [src]="'https://prezenty.in/prezenty/api/web/v1/user/user-image?user_id=&email=' + userDetailList.email" class="" style="object-fit: cover;
        width: 60px !important;
        min-height: 58px;
        max-height: 53px;
        border-radius: 61px;" *ngIf="id"
        >
        <img [src]="'https://prezenty.in/prezenty/api/web/v1/user/user-image?user_id=&email=' + receiver_email" class="" style="object-fit: cover;
        width: 60px !important;
        min-height: 58px;
        max-height: 53px;
        border-radius: 61px;" *ngIf="!id"
        >
      </div>
      <div>
        <h3
          class="font-weight-bold ml-2" *ngIf="!hostName"
          style="color: white; padding: 30px 0px 0px 0px"
        >
          {{ userDetailList.name }}
        </h3>
        <h3
        class="font-weight-bold ml-2" *ngIf="hostName"
        style="color: white; padding: 30px 0px 0px 0px"
      >
        {{ hostName }}
      </h3>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="chatForm">
  <div id="panel2" class="panel">
    <div id="msgArea">
      <br />
      <div *ngFor="let item of chatMessages">
        <div
          class="msg {{
            item.sender_email == this.participantEmail ? 'userMSG' : 'otherMSG'
          }} "
        >
          <div></div>
          <div>
            {{ item.message }}<br />
            <span style="font-size: 10px">{{ item.time }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div
        class="card card-user title-wdth"

      >
        <div class="card-header"></div>
        <div class="card-body" *ngIf="(blocked_user == 'false' || !blocked_user) && showblockedalert == false">
          <div class="row">
            <div class="col-lg-9 col-9 col-sm-12 pr-1">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control inpt-border"
                  placeholder="Write something.."
                  formControlName="chatmessage"
                  [ngClass]="{
                    'is-invalid': submitted && chatfrm.chatmessage.errors
                  }"
                />
              </div>
            </div>
            <div class="col-lg-3 col-3 send-btn">
              <span
                ><img
                  src="./assets/img/send.png"
                  style="cursor: pointer"
                  (click)="sentMessage()"
              /></span>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="blocked_user == 'true'">
          <div class="row">
            <div class="col-lg-12 col-12 col-sm-12 pr-1">
            <span class="text-muted" > This chat is blocked.Unblock to send/receive messages</span>
            </div>

          </div>
        </div>
        <div class="card-body" *ngIf="showblockedalert == true">
          <div class="row">
            <div class="col-lg-12 col-12 col-sm-12 pr-1">
            <span class="text-muted" > This chat is blocked</span>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</form>
