
<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini" routerLink="/dashboard">
      <div class="logo-image-small" >
        <img  src="./assets/img/event-logo-white.png" style="width: 121px;
        height: 39px;" >
            </div>
    </a>
    <a href="" class="simple-text logo-normal">

    </a>
  </div>
    <ul class="nav">
        <div class="row ml-3 mt-4" routerLink="/
        " title="preview" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/preview-02.png" class="menu-img">
          </div>
          <div class="col-md-4 col-4">
            <b>Preview</b>
          </div>
        </div>
        <div class="row ml-3 mt-5" routerLink="/list-gift-vouchers" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/send_gift.png" class="menu-img">
          </div>
          <div class="col-md-9 col-9">
            <b>Send Gift or Vouchers</b>
          </div>
        </div>
        <div class="row ml-3 mt-5" routerLink="/sent-video" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/send-video-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            <b>Send Video Wish</b>
          </div>
        </div>
        <div class="row ml-3 mt-5" routerLink="/users" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/join-chat-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            <b>Join Chat</b>
          </div>
        </div>

    </ul>
</div>
