
<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini" routerLink="/dashboard">
      <div class="logo-image-small" >
        <img  src="./assets/img/event-logo-white.png" style="width: 121px;
        height: 39px;" >
            </div>
    </a>
    <a href="" class="simple-text logo-normal">

    </a>
  </div>

    <ul class="nav">
        <!-- <div class="row nav-padding" routerLink="/list-gift-vouchers "  style="cursor: pointer;"  [routerLinkActive]="['active']">
          <div class="col-md-3 col-3">
            <img src="./assets/img/preview-02.png" class="menu-img">
          </div>
          <div class="col-md-4 col-4">
            <b>Preview</b>
          </div>
        </div> -->
        <div class="row nav-padding" routerLink="/dashboard" style="cursor: pointer;" [routerLinkActive]="['active']">
          <div class="col-md-3 col-3">
            <img src="./assets/img/preview-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            <b>Preview</b>
          </div>
        </div>
        <div class="row nav-padding " routerLink="/list-gift-vouchers" style="cursor: pointer;" [routerLinkActive]="['active']">
          <div class="col-md-3 col-3">
            <img src="./assets/img/send_gift.png" class="menu-img">
          </div>
          <div class="col-md-9 col-9">
            <b>Send Gift or Vouchers</b>
          </div>
        </div>
        <div class="row nav-padding" routerLink="/sent-video" style="cursor: pointer;" [routerLinkActive]="['active']">
          <div class="col-md-3 col-3">
            <img src="./assets/img/send-video-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            <b>Send Video Wish</b>
          </div>
        </div>
        <div class="row  nav-padding" routerLink="/users" style="cursor: pointer;" [routerLinkActive]="['active']">
          <div class="col-md-3 col-3">
            <img src="./assets/img/join-chat-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            <b>Join Chat</b>
          </div>
        </div>

        <div class="row  nav-padding" style="cursor: pointer;" (click)="joinlivestream()">
          <div class="col-md-3 col-3">
            <img src="./assets/img/join-chat-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            <b>Join Live Stream</b>
          </div>
        </div>
    </ul>
</div>
