<div class="col-md-12">
  <div class="col-md-8 col-lg-8 col-8 col-sm-8 align-self-center mx-auto">
    <!-- <div class="row d-icons">
      <div class="col-lg-8 col-md-8 col-12 col-sm-12" style="margin: 0 auto;">
        <button _ngcontent-prj-c157="" type="button" class="btn btn-sm btn-active" (click)="saveToCalender()" style="background-color: #fff !important;color: #0a0aab !important;"  >
          <i _ngcontent-prj-c157="" aria-hidden="true" class="fa fa-calendar clndr-icon"></i>Save to calender</button>
      </div>
      </div> -->
    </div>
  </div>
  <div class="col-md-12 col-12 col-sm-12" style="padding: 20px 0px 0px 0px;">
    <div class="col-md-8 col-lg-8 col-8 col-sm-8 align-self-center mx-auto">
      <div class="row d-icons">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
          <img src="{{imageFilesLocation}}{{image_url}}" alt="" class="tmp-image" style="width: 90%; height: 85vh;">
          <!-- <img src="../../../assets/img/R.jpg" alt="Flowers in Chania" class="tmp-image" style="width: 90%; height: 85vh;"> -->

        </div>
          </div>
          </div>
           </div>
