


<div class="col-md-12">
  <div class="col-md-8 col-lg-8 col-8 col-sm-8 align-self-center mx-auto">
    <!-- <div class="row d-icons">
      <div class="col-lg-8 col-md-8 col-12 col-sm-12" style="margin: 0 auto;">
        <button _ngcontent-prj-c157="" type="button" class="btn btn-sm btn-active" (click)="saveToCalender()" style="background-color: #fff !important;color: #0a0aab !important;"  >
          <i _ngcontent-prj-c157="" aria-hidden="true" class="fa fa-calendar clndr-icon"></i>Save to calender</button>
      </div>
      </div> -->
    </div>
  </div>
  <div class="col-md-12 col-12 col-sm-12" style="padding: 20px 0px 0px 0px;">
    <div class="col-md-8 col-lg-8 col-8 col-sm-8 align-self-center mx-auto">
      <div class="row d-icons">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
          <img src="{{imageFilesLocation}}{{image_url}}" alt="" class="tmp-image" style="width: 90%; height: 85vh;">
          <!-- <img src="../../../assets/img/R.jpg" alt="Flowers in Chania" class="tmp-image" style="width: 90%; height: 85vh;"> -->

        </div>
          </div>
          </div>
           </div>
           <div class="row mob-views " style="margin: 0 auto;cursor: pointer;" routerLink="/list-gift-vouchers">
            <div class="col-md-8 col-lg-8 col-12 col-sm-12 text-center mx-auto align-self-center " >
              <div class="row d-icons mob-views">
                <div class="col-lg-6 col-md-6 col-12 col-sm-12c mx-auto ">
                  <button  type="button" class="btn btn-sm btn-active menu-btn" >
                  <span style="font-size: 12px;color:#d9117d ;">
                               <img src="./assets/img/send_gift.png" class="menu-img">
                    Send Gift Vouchers</span>
                     <i class="fa fa-angle-right  fa-2x" style="float: right;color: #d9117d;" aria-hidden="true"></i></button>
                </div>
                </div>
              </div>
            </div>
            <div class="row mob-views" style="margin: 0 auto;cursor: pointer;" routerLink="/sent-video">
              <div class="col-md-8 col-lg-8 col-12 col-sm-12 text-center mx-auto align-self-center " >
                <div class="row d-icons">
                  <div class="col-lg-6 col-md-6 col-12 col-sm-12c mx-auto ">
                    <button  type="button" class="btn btn-sm btn-active menu-btn">
                     <span style="font-size: 12px;color: #d9117d;">
                                 <img src="./assets/img/send-video-02.png" class="menu-img">
                      Send Video Wishes </span>
                        <i class="fa fa-angle-right  fa-2x" style="float: right;color: #d9117d;"  aria-hidden="true"></i></button>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row mob-views" style="margin: 0 auto;cursor: pointer;" routerLink="/users" >
                <div class="col-md-8 col-lg-8 col-12 col-sm-12 text-center mx-auto align-self-center " >
                  <div class="row d-icons">
                    <div class="col-lg-6 col-md-6 col-12 col-sm-12c mx-auto ">
                      <button  type="button" class="btn btn-sm btn-active menu-btn">
                      <span style="font-size: 12px; color: #d9117d;">
                            <img src="./assets/img/join-chat-02.png" class="menu-img mr-4"></span>
                       <span class="mr-5" style="color: #d9117d;"> Join Chat</span>
                          <i class="fa fa-angle-right  fa-2x" style="float: right;color: #d9117d;" aria-hidden="true"></i></button>
                    </div>
                    </div>
                  </div>
                </div>



                <style>
                 .btn:hover{
                    background-color: white !important;
                  }
                  @media screen and (max-width: 991px) {
  .mob-views{
    display: block;
  }
}
                </style>
