
<header>
  <div class="menu" >
    <ul >
      <img src="./assets/img/event-logo-white.png" style="width: 121px;
      height: 39px;">

      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>
<!-- <div class="row">
  <div class="col-lg-4 col-6">
    <span class="event-det">Title:<strong>&nbsp;&nbsp;{{title}}</strong> </span>
  </div>
  <div class="col-lg-4 col-6">
    <span class="event-det">Time:<strong>&nbsp;&nbsp;{{eventTime}}</strong> </span>
  </div>
  <div class="col-lg-4 col-12" *ngIf="created_by">
    <span class="event-det">created by:<strong>&nbsp;&nbsp;{{created_by}}</strong> </span>
  </div>
</div> -->
<div class="row" style="margin: 0 auto;">
  <div class="col-md-5 col-lg-5 col-10 col-sm-10 text-center mx-auto align-self-center " >
    <div class="row d-icons" >
      <div class="col-lg-9 col-md-6 col-12 col-sm-12 mx-auto ">
        <span class="event-det" style="">Event Name:<strong>&nbsp;&nbsp;{{title}}</strong> </span>
        </div>
        </div>
        </div></div>
  <div class="row" style="margin: 0 auto;">
    <div class="col-md-8 col-lg-8 col-12 col-sm-12 text-center mx-auto align-self-center " >
      <div class="row d-icons" *ngIf="eventStatus == true">
        <div class="col-lg-9 col-md-6 col-12 col-sm-12c mx-auto ">
          <button  type="button" class="btn btn-sm btn-active"
           style="background-color: #0a0aab !important;color: #fff !important;border-radius: 10px;max-height: 53px;" (click)="joinThisEvent()">
           <span style="font-size: 12px;" >Join this Event (RSVP)</span>   <i class="fa fa-angle-right  fa-2x" style="float:right" aria-hidden="true"></i></button>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-12   " >
      <div class="col-md-7 col-lg-7 col-10 col-sm-10 text-center mx-auto align-self-center">
        <div class="row d-icons">
          <div class="col-lg-8 col-md-8 mx-auto col-12 col-sm-12 card " style="background-color: ghostwhite !important;border-radius: 10px;">
            <img src="{{imageFilesLocation}}{{image_url}}" *ngIf="image_url" alt="" class="tmp-image" >
            <video class="video-img"
            src="{{baseUrlVideo}}{{video_file}}"
            *ngIf="video_file"
            height="200"
            controls
          ></video>
            </div>
            </div>
            </div>
             </div>

             <div class="row" style="margin: 0 auto;">
              <div class="col-md-5 col-lg-5 col-10 col-sm-10 text-center mx-auto align-self-center " >
                <div class="row d-icons" >
                  <div class="col-lg-12 col-md-6 col-12 col-sm-12 mx-auto ">
                    <span class="event-det" style="">Event Date & Time:<strong>&nbsp;&nbsp;{{EventDate | date: 'MM/dd/yyyy'}} {{time}}</strong> </span>
                    <span class="event-det ml-4" style="" *ngIf="created_by">Created_by:<strong>&nbsp;&nbsp;{{created_by}}</strong> </span>

                    </div>
                    </div>
                    </div></div>

      <!-- question modal form -->
      <div class="modal fade payed-modal" id="rsvpModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="overflow: hidden;">
            <div class="row">
              <div class="col-lg-9 col-9">
                <h2 style="color: white;
                padding: 10px 0px 0px 22px;">Join this Event(RSVP)</h2>
              </div>
              <div class="col-lg-3 col-3">
                <button type="button"  class="close btn-close1" data-dismiss="modal" aria-label="Close" (click)="closeRsvpModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <!-- </div> -->
            <div class="modal-body">
              <!-- <div class="col-lg-12 col-md-12"> -->
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="payd-msg">
                      <section class="payd-msg">
                        <div class="container">

                            <form [formGroup]="RSVPForm">

                              <hr style="color: white;border-color: white;">
                            <div class="row">
                              <div class="col-md-6 col-lg-7 col-sm-6 col-12">
                                <!-- <div class="st-fd-form" style="max-height: 141px;min-height: 140px;"> -->
                                  <h4 style="padding: 8px 0px 0px 0px;">Do you want to physically attend this event ?</h4>
                                  <div class="form-row mt-2" >
                                    <mat-radio-group aria-label="Select an option" formControlName="physically_attend" (change)="changePhysicallyAttend()" [ngClass]="{ 'is-invalid': submitted && rsvpfrm.physically_attend.errors }">
                                      <mat-radio-button value="yes">Yes</mat-radio-button>
                                      <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                     <div *ngIf="submitted && rsvpfrm.physically_attend.errors" class="invalid-feedback">
                                          <div *ngIf="rsvpfrm.physically_attend.errors.required">This field is required</div>
                                          </div>
                                   </div>
                                <!-- </div> -->
                              </div>
                              <div class="col-md-6 col-lg-5 col-sm-6 col-12"  *ngIf="receiveFood === true">
                                <!-- <div class="st-fd-form" style="max-height: 141px;min-height: 140px;"> -->
                                  <h4 style="padding: 8px 0px 0px 0px;">Do you want to receive the food ?</h4>
                                  <div class="form-row mt-2" >
                                    <mat-radio-group aria-label="Select an option" formControlName="receive_foods" (change)="changereceiveFood()" [ngClass]="{ 'is-invalid': submitted && rsvpfrm.receive_foods.errors }">
                                      <mat-radio-button value="yes">Yes</mat-radio-button>
                                      <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                    <div *ngIf="submitted && rsvpfrm.receive_foods.errors" class="invalid-feedback">
                                      <div *ngIf="rsvpfrm.receive_foods.errors.required">This field is required</div>
                                      </div>
                                   </div>
                                <!-- </div> -->
                              </div>
                            </div>
                                    <hr style="color: white;border-color: white;" *ngIf="receiveFood === true || physically_attend === true">


                                      <div class="row" *ngIf="receiveFood === true || physically_attend === true" >
                                        <div class="col-md-4 col-lg-4"  >
                                          <h4 style="padding: 8px 0px 0px 0px;">First Name</h4>
                                          <input type="text" class="st-fd-tbox brdr-clr"  placeholder="Name" formControlName="name"   [ngClass]="{ 'is-invalid': submitted && rsvpfrm.name.errors }" >
                                          <div *ngIf="submitted && rsvpfrm.name.errors" class="invalid-feedback">
                                            <div *ngIf="rsvpfrm.name.errors.required">This field is required</div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-lg-4"  >
                                          <h4 style="padding: 8px 0px 0px 0px;">Last Name</h4>
                                          <input type="text" class="st-fd-tbox brdr-clr"  placeholder="Name" formControlName="lastName"   [ngClass]="{ 'is-invalid': submitted && rsvpfrm.lastName.errors }" >
                                          <div *ngIf="submitted && rsvpfrm.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="rsvpfrm.lastName.errors.required">This field is required</div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-lg-4" >
                                          <h4 style="padding: 8px 0px 0px 0px;">Email</h4>
                                          <input type="text" class="st-fd-tbox brdr-clr"  placeholder="Email"  formControlName="email" [email]="true"   [ngClass]="{ 'is-invalid': submitted && rsvpfrm.email.errors }" >
                                          <div *ngIf="submitted && rsvpfrm.email.errors" class="invalid-feedback">
                                            <div *ngIf="rsvpfrm.email.errors.required">This field is required</div>
                                            <div *ngIf="rsvpfrm.email.errors.pattern">Please, Enter valid email.</div>
                                            </div>

                                        </div>

                                      </div>
                                      <div class="row"  *ngIf="receiveFood === true || physically_attend === true" >
                                        <div class="col-md-6 col-lg-4" >
                                          <h4 style="padding: 8px 0px 0px 0px;">Phone Number</h4>
                                          <input type="text" class="st-fd-tbox brdr-clr"  placeholder="Phone Number" formControlName="phone_number"  maxlength="16" minlength="8" [ngClass]="{ 'is-invalid': submitted && rsvpfrm.phone_number.errors }">
                                          <div *ngIf="submitted && rsvpfrm.phone_number.errors" class="invalid-feedback">
                                            <div *ngIf="rsvpfrm.phone_number.errors.required">This field is required</div>
                                            <div *ngIf="(rsvpfrm.phone_number.errors.pattern || phoneerror === true) && this.RSVPForm.value.phone_number ">Please, Enter valid Phone Number.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4" >
                                          <h4 style="padding: 8px 0px 0px 0px;">Address</h4>
                                          <input type="text" class="st-fd-tbox brdr-clr"  placeholder="Address" formControlName="address"  [readonly]="this.applicableStatus === true" [ngClass]="{ 'is-invalid': submitted && rsvpfrm.address.errors }" >
                                          <div *ngIf="submitted && rsvpfrm.address.errors" class="invalid-feedback">
                                            <div *ngIf="rsvpfrm.address.errors.required">This field is required</div>
                                            </div>
                                        </div>
                                      </div>


                                                                <div class="row col-12 sbmt-rsvp" style="padding: 18px;" >
                                  <button class="btn btn-sm fundraiser-btn sbmt-fund"  type="button"(click)="submitRSVP($event)"> <i class="fa" [ngClass]="{'fa-spin fa-spinner': loading}"></i><span>Submit</span></button>
                                </div>
                          </form>
                          </div>


                      </section>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
